<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs" style="font-variant: small-caps;">
			<li><a data-toggle="tab" data-target="#home" href="">Account Edition</a></li>
			<li class="active"><a data-toggle="tab" data-target="#menu1"
				href="">List of Account</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane ">
				<div class="panel panel-default">
					<div class="panel-heading">Account</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-4 text-center">
								<label for="image"> <img alt=""
									src="/images/{{form.photo}}" class="img-rounded"
									alt="Cinque Terre" width="304" height="236">
								</label>
							</div>
							<div class="col-sm-8">
								<div class="row">
									<div class="form-group col-sm-6">
										<div class="input-group">
											<span class="input-group-addon">username</span> <input ng-model="form.username"
												id="msg" type="text" class="form-control" name="username"
												placeholder="username">
										</div>
									</div>
									<div class="form-group col-sm-6">
										<div class="input-group">
											<span class="input-group-addon">password</span> <input ng-model="form.password"
												id="msg" type="text" class="form-control" name="msg"
												placeholder="password">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="form-group col-sm-6">
										<div class="input-group">
											<span class="input-group-addon">email</span> <input id="msg" ng-model="form.email"
												type="text" class="form-control" name="email"
												placeholder="email">
										</div>
									</div>
									<div class="form-group col-sm-6">
										<div class="input-group">
											<span class="input-group-addon">fullname</span> <input ng-model="form.fullname"
												id="msg" type="text" class="form-control" name="msg"
												placeholder="fullname">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<div class="input-group">
											<span class="input-group-addon">photo</span> <input
												type="file" class="form-control" id="photo"
												onchange="angular.element(this).scope().imageChanged(this.files)">
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="panel-footer text-center">
						<button ng-click="create()" type="button" class="btn btn-primary">
							<b class="glyphicon glyphicon-plus"></b> create
						</button>
						<button ng-click="update()" type="button" class="btn btn-success">
							<b class="glyphicon glyphicon-save"></b>Update
						</button>
						<button ng-click="delete(form)" type="button"
							class="btn btn-danger">
							<b class="glyphicon glyphicon-trash"></b>Delete
						</button>
						<button ng-click="reset()" type="button" class="btn btn-info">
							<b class="glyphicon glyphicon-refresh"></b>Reset
						</button>
					</div>
				</div>
			</div>
			<div id="menu1" class="tab-pane fade in active">
				<div class="panel panel-default">
					<div class="panel-heading">Account</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>username</th>
								<th>password</th>
								<th>fullname</th>
								<th>email</th>
								<th>photo</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items">
								<td>{{item.username}}</td>
								<td>{{item.password}}</td>
								<td>{{item.fullname}}</td>
								<td>{{item.email}}</td>
								<td>{{item.photo}}</td>
								<td>
									<div class="btn-group btn-group-xs">
										<button ng-click="edit(item)"
											class="btn btn-warning glyphicon glyphicon-edit"></button>
										<button ng-click="delete(item)"
											class="btn btn-danger glyphicon glyphicon-trash"></button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
