<!-- <div class="row"> -->
<!-- 	<div class="form-group col-sm-2"> -->
<!-- 		<div>Date</div> -->
<!-- 		<input ng-model="date" ng-change="load()" type="date" -->
<!-- 			class="form-control"> -->
<!-- 	</div> -->
<!-- </div> -->
<!-- <div class="row"> -->
<!-- 	<div class="form-group col-sm-6"> -->
<!-- 		<h1>So san pham ban duoc: {{count}}</h1> -->
<!-- 	</div> -->
<!-- </div> -->
<!-- <div class="row"> -->
<!-- 	<div class="form-group col-sm-6"> -->
<!-- 		<h1>Tong doanh thu: {{amount}} VND</h1> -->
<!-- 	</div> -->
<!-- </div> -->

<table class="table table-bordered ">
	<thead>
		<tr>
			<th><input ng-model="date" ng-change="load()" type="date"
			class="form-control"></th>
			<th>Số Sản Phẩm Bán Được: {{count}}</th>
			<th>Tổng Doanh Thu: {{amount | number:2}}</th>
		</tr>
	</thead>
</table>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">Danh sach cac san pham ban ra</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Tên Sản Phẩm</th>
					<th>Giá SP</th>
					<th>Số Lượng Bán</th>
					<th>Thành Tiền</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td>{{item[0]}}</td>
					<td>{{item[1]}}</td>
					<td>{{item[2]}}</td>
					<td>{{item[1] * item[2] | number:2}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>