<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!--AngularJS-->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!--Router-->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body ng-app="app">
	<div class="container" ng-controller="ctrl">
		<h2>Bordered Table</h2>
		<table class="table table-bordered">
			<thead class="bg-success" style="font-variant: small-caps;">
				<tr>
					<th>Username</th>
					<th>Fullname</th>
					<th ng-repeat="role in db.roles" class="text-center">{{role.name}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="acc in db.accounts">
					<td>{{acc.username}}</td>
					<td>{{acc.fullname}}</td>
					<th ng-repeat="role in db.roles" class="text-center"><input
						ng-checked="index_of(acc.username, role.id) >=0"
						ng-click="update(acc.username, role.id)" type="checkbox"></th>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="/Js/nhapAutho.js"></script>
</body>
</html>